<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>{{t "contact.title"}}</h2>
		<p>
			{{t "contact.description"}}
		</p>
		<form>
		  <div class="form-group">
		    <label for="nomPrenom">{{t "contact.name"}}</label>
		    <input type="text" id="nomPrenom" class="form-control" placeholder="{{t 'contact.name_placeholder'}}" value={{name}} size="80">
		  </div>
		  <div class="form-group">
		    <label for="email">{{t "contact.mail"}}</label>
		    <input type="email" id="email" class="form-control" placeholder="{{t 'contact.mail_placeholder'}}" value={{email}} size="80">
		    <input type="email" id="liame" class="form-control" placeholder="{{t 'contact.mail_placeholder'}}" value={{liame}} size="80">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">{{t "contact.message"}}</label>
		    {{textarea value=message classNames="form-control" cols="30" rows="10"}}
		  </div>
		  <a href="#" {{action "sendMessage"}} class="btn btn-default">{{t "contact.send"}}</a>
		  {{#if error}}
		  	<div class="alert alert-danger" role="alert">{{{response}}}</div>
		  {{else}}
		  	{{#if response}}
			<div class="alert alert-success" role="alert">{{{response}}}</div>
		  	{{/if}}
		  {{/if}}
		</form>
	</div>
</div>
