<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p>
			Ce projet vous intéresse en tant que consomm'acteur ou en tant qu'acteur agro-alimentaire ? Vous avez des remarques/conseil ou vous voulez participer à ce projet ? Utilisez le formulaire de contact ci-dessous et je vous répondrais rapidement.
		</p>
		<form>
		  <div class="form-group">
		    <label for="nomPrenom">Nom et prénom</label>
		    {{input type="text" id="nomPrenom" classNames="form-control" placeholder="Votre nom et prénom" value=name size="80"}}
		  </div>
		  <div class="form-group">
		    <label for="email">Adresse email</label>
		    {{input type="email" id="email" classNames="form-control" placeholder="Votre email" value=email size="80"}}
		    {{input type="email" id="vrai_email" classNames="form-control" placeholder="Votre email" value=vrai_email size="80"}}
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Message</label>
		    {{textarea value=message classNames="form-control" cols="30" rows="10"}}
		  </div>
		  <a href="#" {{action "sendMessage"}} class="btn btn-default">Envoyer</a>
		  {{#if error}}
		  	<div class="alert alert-danger" role="alert">{{{response}}}</div>
		  {{else}}
		  	{{#if response}}
			<div class="alert alert-success" role="alert">{{{response}}}</div>
		  	{{/if}}
		  {{/if}}
		</form>
	</div>
</div>
