<div class="row">
  	<div class="col-lg-10 col-lg-offset-1 col-md-12">
		<ol class="breadcrumb">
		  <li><a href="#">{{model.distributeur}}</a></li>
		  <li><a href="#">{{model.lieu_vente}}</a></li>
		  <li><a href="#">{{model.categorie}}</a></li>
		  <li class="active">{{model.denomination}}</li>
		</ol>
  	</div>
  	<div class="col-lg-2 col-lg-offset-1 col-md-3">
    <div class="panel panel-default">
      	<div class="panel-heading"><h4 class="title-center">Produit</h4></div>
      	<div class="panel-body overlap">
	      	<img class="img-responsive" {{bind-attr src=model.photo_url}} alt=""> 
			<div id="circle-transparency" class="circle">
				<strong></strong>
			</div>
      	</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="title-center">Origine</h4></div>
      <div class="panel-body text-center">
        <h2>{{model.origine_macro}} <span class="glyphicon glyphicon-info-sign text-success"></span></h2>
        <h4>Echelle : {{model.echelle}}</h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="title-center">Distances</h4></div>
      <div class="panel-body text-center">
      	<div>
      		{{ember-odometer value=model.kms format="(ddd)" theme="minimal"}}&nbsp;&nbsp;&nbsp;kms
      	</div>
      	<div class="clearfix"></div>
      	<h4>Modes de transports utilisés</h4>
      	<ul class="list-group">
      	{{#each transport in model.modes_transports}}
      	  	<li class="list-group-item">{{transport}}</li>
      	{{/each}}
      		
      	</ul>
      </div>
      <div class="panel-footer text-center">
      	<a href="#" class="text-center">En savoir plus</a>
      </div>
    </div>
    {{#if model.energie_portion}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="title-center">Infos nutritionnelles</h4>
      </div>
      <div class="panel-body">
        <div class="input-group">
          <div class="input-group-btn text-center">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span id="infosNutritionnellesBtnLabel">Par {{model.unite_portion}} ({{model.poids_portion}}{{model.unite_nutrition}})</span> <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" {{action "parPortion"}}>Par {{model.unite_portion}} ({{model.poids_portion}}{{model.unite_nutrition}})</a></li>
              <li><a href="#" {{action "pour100g"}}>Pour 100 g</a></li>
              <li><a href="#" {{action "pourConditionnement"}}>Pour le conditionnement</a></li>
              <li class="divider"></li>
              <li><a href="#" {{action "pourApportsNutritionnels"}}>Apports recommandés</a></li>
            </ul>
          </div>
        </div>
        <ul class="list-group">
        {{#if apportsRecommande}}
          <li class="list-group-item text-justify">
            Les apports recommandés varient (entre autres facteurs) en fonction du sexe, de l'âge, du poids, de la taille et du mode de vie.
          </li>
          <li class="list-group-item text-justify">
            Les valeurs inscrites sur les étiquettes prennent comme référence 2000 kcal, ce qui correspond à la moyenne entre les valeurs moyennes recommandées pour les hommes, 2200 kcal et pour les femmes, 1800 kcal.
          </li>
          <li class="list-group-item text-justify">
              En complétant un "profil alimentaire", nous pourrions afficher les valeurs recommandées pour nous et les membres de notre famille et ainsi gérer plus finement nos apports nutritionnels.
          </li>
        {{else}}
          <li class="list-group-item"><span class="badge">{{infosNutritionnelles.energie_portion}} kcal</span>Energie</li>
          <li {{bind-attr class=":list-group-item model.matieres_grasses_indic"}}><span class="badge">{{infosNutritionnelles.matieres_grasses}}{{infosNutritionnelles.unite_nutrition}}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>Matières grasses</li>
          <li {{bind-attr class=":list-group-item :tabbed model.matieres_grasses_saturees_indic"}}><span class="badge">{{infosNutritionnelles.matieres_grasses_saturees}}{{infosNutritionnelles.unite_nutrition}}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>dont saturées</li>
          <li class="list-group-item"><span class="badge">{{infosNutritionnelles.glucides}}{{infosNutritionnelles.unite_nutrition}}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>Glucides</li>
          <li {{bind-attr class=":list-group-item :tabbed model.sucres_indic"}}><span class="badge">{{infosNutritionnelles.glucides_dont_sucres}}{{infosNutritionnelles.unite_nutrition}}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>dont sucres</li>
          <li class="list-group-item"><span class="badge">{{infosNutritionnelles.fibres}}{{infosNutritionnelles.unite_nutrition}}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>Fibres</li>
          <li class="list-group-item"><span class="badge">{{infosNutritionnelles.proteines}}{{infosNutritionnelles.unite_nutrition}}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>Protéines</li>
          <li {{bind-attr class=":list-group-item model.sel_indic"}}><span class="badge">{{infosNutritionnelles.sel}}{{infosNutritionnelles.unite_nutrition}}<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>Sel</li>
        {{/if}}
        </ul>
        <h4>Note nutritionnelle</h4>
        <div class="img-product"><img class="img-center img-responsive" src="http://fr.openfoodfacts.org/images/misc/b.338x72.png"/></div>
      </div>
    </div>
    {{/if}}
  </div>  
  <div class="col-lg-6 col-md-6">
  	<div class="alert alert-success" role="alert">
  	    <h3 class="text-center">{{model.denomination}} ({{model.variete}}), {{model.distributeur}} - {{model.lieu_vente}}</h3>
  	</div>
    {{france-chart dataProvider=dataProvider.chartDataProvider}}
    
    <div class="panel panel-default">
      	<div class="panel-heading"><h4 class="title-center">Acteurs</h4></div>
      	<div class="panel-body">
		    <div class="timeline-centered">
		    {{#each dataProvider.distances as |acteur|}}
		      	<article class="timeline-entry">
			      	<div class="timeline-entry-inner">
			      		<time class="timeline-time" datetime="" {{bind-attr data-latitude=acteur.latitude data-longitude=acteur.longitude}}><span>{{acteur.ville}}</span> <span>{{acteur.departementTexte}} ({{acteur.departement}})</span></time>
			      		<div {{bind-attr class=":timeline-icon acteur.cssCategory"}}>
			      			<i class="entypo-feather"></i>
			      		</div>
			      		<div class="timeline-distance">
			      			<h4><span class="label label-warning">{{acteur.distance}} km</span></h4>
			      		</div>
			      		<div class="timeline-label">
			      			<h2><a href="#">{{acteur.raisonSociale}}</a> : <span>{{acteur.activite}}</span></h2>
			      			<p><img {{bind-attr src="acteur.img_url"}} alt="" class="pull-left">{{acteur.descriptionCourte}}</p>
			      			<p><a href="#">Plus d'informations sur cet acteur</a></p>
			      		</div>
			      	</div>
		      	</article>
		    {{/each}}
				
				<article class="timeline-entry begin">
					<div class="timeline-entry-inner">
						<div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
							<i class="entypo-flight"></i>
						</div>
						<div class="timeline-label">
							<h2>Vous !</h2>
						</div>
					</div>
				</article>
			</div>
		</div>
	
	</div>
  </div>
  <div class="col-lg-2 col-md-3 indicators-center">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Prix</h4></div>
      <div class="panel-body">
	      <h2>{{model.prix_conditionnement}} € / {{model.unite_conditionnement}} <span class="glyphicon glyphicon-triangle-bottom text-success"></span></h2>
	      <h4>Producteur : {{model.prix_producteur}} € / {{model.unite_conditionnement}} <span class="glyphicon glyphicon-triangle-top text-success"></span></h4>
      </div>
      <div class="panel-footer">
      	<a href="#" class="text-center">En savoir plus</a>
      </div>
    </div>
    {{#if model.mode_culture}}
    <div class="panel panel-default" data-position="left" data-intro="<p>Un indicateur factuel et clair vous permet de connaître la distance minimale parcourue à travers les différentes étapes de production, ou pour chaque ingrédient.</p>">
      <div class="panel-heading"><h4>Mode de culture</h4></div>
      <div class="panel-body">
      	<h2>{{model.mode_culture}}</h2>
      	<div>
      		<img {{bind-attr src=model.mode_culture_img}} class="img-center img-responsive img-half">
      	</div>
      	<div class="clearfix"></div>
        {{#if model.intrants}}
        <h4>Intrants utilisés</h4>
        <ul class="list-group">
        {{#each intrant in model.intrants}}
          <li class="list-group-item"><a href="#">{{intrant.nom}}</a> <span class="badge"><span class="glyphicon glyphicon-info-sign"></span></span></li>
        {{/each}}
        </ul>
        {{/if}}
      </div>
      <div class="panel-footer">
      	<a href="#" class="text-center">En savoir plus</a>
      </div>
    </div>
    {{/if}}
    {{#if model.mode_recolte}}
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Mode de récolte</h4></div>
      <div class="panel-body">
        <h2>{{model.mode_recolte}} <span class="glyphicon glyphicon-info-sign text-success"></span></h2>
      </div>
      <div class="panel-footer">
        <a href="#" class="text-center">En savoir plus</a>
      </div>
    </div>
    {{/if}}
    {{#if model.circuit}}
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="title-center">Circuit</h4></div>
      <div class="panel-body">
      	<h2>{{model.circuit}} <span class="glyphicon glyphicon-info-sign text-success"></span></h2>
      	<h4>Intermédiaires : {{model.distance}}</h4>
      </div>
      <div class="panel-footer">
      	<a href="#" class="text-center">En savoir plus</a>
      </div>
    </div>
    {{/if}}
    {{#if model.emballage}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="title-center">Emballage</h4>
      </div>
      <div class="panel-body">
        <ul class="list-group">
        {{#each part in model.emballage}}
          <li class="list-group-item"><span class="badge"><span {{bind-attr class=":glyphicon part.recyclable:glyphicon-refresh:glyphicon-trash"}} aria-hidden="true"></span></span>{{part.element}} : {{part.matiere}} <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></li>
        {{/each}}
        </ul>
      </div>
      <div class="panel-footer">
        <a href="#" class="text-center">En savoir plus</a>
      </div>
    </div>
      
    {{/if}}
  </div>
  </div>

