<div class="row home">
  <div class="col-md-12">
    <div class="jumbotron visible-xs visible-sm hidden-md hidden-lg">
      <h1>Feedes, la transparence alimentaire</h1>
      <p>
        Tout savoir sur vos produits alimentaires ! Enfin, tout ce que <strong>vous</strong> voulez savoir...
      </p>
      <p>
        <div class="btn-group" role="group" aria-label="">
        {{#link-to 'projet' classNames="btn btn-primary"}}En savoir plus{{/link-to}}&nbsp;{{#link-to 'sondage' classNames="btn btn-info"}}Remplir le sondage{{/link-to}}&nbsp;
          <button class="keep-me-posted btn btn-lg btn-default" {{action "displaySubscriptionForm"}}>
            <strong>Me tenir informé</strong>
          </button>
          <div class="subscribe btn-group hidden">
            {{input on="mouseEnter" action="pauseCarousel" type="text" class="input-lg form-control" placeholder="Votre email..." value=email}}
          </div>
          <button class="subscribe btn btn-lg btn-default hidden" {{action "subscribe"}}>
            OK
          </button>
         </div>
      </p>
    </div> 
    <div id="carousel-example-generic" class="hidden-xs hidden-sm visible-md visible-lg carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <h1 class="site-title">Feedes, la transparence alimentaire</h1>
        <div class="item active">
          <img class="img-responsive" src="assets/img/empowerment.jpg" alt="Autonomisation.">
          <div class="carousel-caption">
            <h4>
              Reprenons le contrôle de notre alimentation!
            </h4>
            <div role="group" aria-label="">
              {{#link-to 'projet' classNames="btn btn-primary"}}En savoir plus{{/link-to}}&nbsp;
              {{#link-to 'sondage' classNames="btn btn-default"}}Remplir le sondage{{/link-to}}&nbsp;
              <button class="keep-me-posted btn btn-lg btn-info" {{action "displaySubscriptionForm"}}>
                <strong>Me tenir informé</strong>
              </button>
              <div class="subscribe btn-group hidden">
                {{input type="text" class="input-lg form-control" placeholder="Votre email..." value=email}}
              </div>
              <button class="subscribe btn btn-lg btn-info hidden" {{action "subscribe"}}>
                OK
              </button>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/img/trust.jpg" alt="Transparence">
          <div class="carousel-caption">
            <h4>
              Rétablissons une relation de confiance <br />avec ceux qui nous nourissent !
            </h4>
            <div role="group" aria-label="">
              {{#link-to 'projet' classNames="btn btn-primary"}}En savoir plus{{/link-to}}&nbsp;
              {{#link-to 'sondage' classNames="btn btn-default"}}Remplir le sondage{{/link-to}}&nbsp;
              <button class="keep-me-posted btn btn-lg btn-info" {{action "displaySubscriptionForm"}}>
                <strong>Me tenir informé</strong>
              </button>
              <div class="subscribe btn-group hidden">
                {{input type="text" class="input-lg form-control" placeholder="Votre email..." value=email}}
              </div>
              <button class="subscribe btn btn-lg btn-info hidden" {{action "subscribe"}}>
                OK
              </button>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/img/sustainability.jpg" alt="Sante">
          <div class="carousel-caption">
            <h4>
              Engageons-nous pour une alimentation plus saine et durable !
            </h4>
            <div role="group" aria-label="">
              {{#link-to 'projet' classNames="btn btn-primary"}}En savoir plus{{/link-to}}&nbsp;
              {{#link-to 'sondage' classNames="btn btn-default"}}Remplir le sondage{{/link-to}}&nbsp;
              <button class="keep-me-posted btn btn-lg btn-info" {{action "displaySubscriptionForm"}}>
                <strong>Me tenir informé</strong>
              </button>
              <div class="subscribe btn-group hidden">
                {{input type="text" class="form-control" placeholder="Votre email..." value=email}}
              </div>
              <button class="subscribe btn btn-lg btn-info hidden" {{action "subscribe"}}>
                OK
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row little-top-margin">
  <div class="col-lg-2 col-lg-offset-2 col-md-4">
    <img src="assets/img/decision.png" alt="Profil" class="center-block">
    <h3 class="text-center">Vous</h3>
    <p class="text-justify">
      Vous êtes un consomm'acteur averti et attentif au contenu de votre assiette ? Vous êtes un acteur de l'agro-alimentaire voulant entamer une démarche de transparence ?
    </p>
    <p class="text-justify">
      Le but de Feedes est de vous rassembler afin de rétablir une relation de confiance !
    </p>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img class="center-block" src="assets/img/barcode.png" alt="barcode"/>
    <h3 class="text-center">recherchez</h3>
    <p class="text-justify">
      Recherchez les produits alimentaires que vous consommez et accédez aux informations que <strong>vous</strong> avez choisies.
    </p>
    <p class="text-justify">
      Comparez facilement les produits et choisissez le meilleur selon <strong>vos</strong> critères.
    </p>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/handshake.png" alt="handshake" class="center-block"/>
    <h3 class="text-center">la transparence ?</h3>
    <p class="text-justify">
      Accédez à des informations détaillées sur les produits que vous consommez, fournies par des acteurs engagés dans une démarche de transparence.
    </p>
  </div>
</div>
<div class="row">
  <div class="call-to-action alert alert-success no-bottom-margin text-center">
    <p>
      Impliquez-vous en cliquant 
      <button class="btn btn-xs btn-default" {{action "callToAction"}}>
        ici
      </button> 
      pour recevoir des notifications sur l'avancement du projet. Vous pouvez également participer en remplissant le {{#link-to 'sondage'}}sondage{{/link-to}} ou en utilisant le formulaire de {{#link-to 'contact'}}contact{{/link-to}}.
    </p>
    <p>
      Pas encore convaincu ? Voici ci-dessous quelques exemples de ce à quoi <strong>Feedes</strong> pourrait ressembler.
    </p>
  </div>
</div>
<div class="row well">
  <div class="col-lg-2 col-lg-offset-2 col-md-4">
    <img src="assets/img/list.png" alt="Profil" class="center-block">
    <h3 class="text-center">Composition</h3>
    <p class="text-justify">
      Analysez la composition de vos produits de manière claire et précise, ainsi que les proportions de chaque ingrédient.
    </p>
    <p class="text-center">{{#link-to 'quoi' classNames="btn btn-default"}}Exemple{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/conference.png" alt="Profil" class="center-block">
    <h3 class="text-center">Acteurs</h3>
    <p class="text-justify">
      Découvrez qui se cache derrière les produits que vous consommez et rétablissez le contact !
    </p>
    <p class="text-center">{{#link-to 'qui' classNames="btn btn-default"}}Exemple{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/world_map.png" alt="Profil" class="center-block">
    <h3 class="text-center">Origine</h3>
    <p class="text-justify">
      Connaissez enfin l'origine précise et détaillée de vos produits, y compris pour les ingrédients des produits transformés.
    </p>
    <p class="text-center">{{#link-to 'ou' classNames="btn btn-default"}}Exemple{{/link-to}}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-lg-offset-3 col-md-4 col-md-offset-1">
    <img src="assets/img/services.png" alt="Profil" class="center-block">
    <h3 class="text-center">Fabrication</h3>
    <p class="text-justify">
      Entrez dans les coulisses de la fabrication de vos produits en voyant les étapes nécessaires à leur élaboration.
    </p>
    <p class="text-center">{{#link-to 'comment' classNames="btn btn-default"}}Exemple{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-2 col-md-4 col-md-offset-2">
    <img src="assets/img/price_tag_euro.png" alt="Profil" class="center-block">
    <h3 class="text-center">Prix</h3>
    <p class="text-justify">
      Découvrez où va votre argent. Quelle part de rémunération revient aux producteurs, aux intermédiaires, aux distributeurs ?
    </p>
    <p class="text-center">{{#link-to 'combien' classNames="btn btn-default"}}Exemple{{/link-to}}</p>
  </div>
</div>