<div class="row home">
  <div class="col-md-12">
    <div class="jumbotron visible-xs visible-sm hidden-md hidden-lg">
      <h1>{{t "home.carousel.title"}}</h1>
      <p>
        {{t "home.carousel.small.caption"}}
      </p>
      <p>
        <div class="btn-group" role="group" aria-label="">
        {{#link-to 'projet' classNames="btn btn-primary"}}{{t "global.more_information"}}{{/link-to}}&nbsp;{{#link-to 'sondage' classNames="btn btn-info"}}{{t "home.carousel.fill_poll"}}{{/link-to}}&nbsp;
          {{#if controllers.application.consumerMode}}
          <button class="keep-me-posted btn btn-lg btn-default" {{action "displaySubscriptionForm"}}>
            <strong>{{t "home.carousel.keep_me_posted"}}</strong>
          </button>
          {{/if}}
          <div class="subscribe btn-group hidden">
            <input mouseEnter="pauseCarousel" type="text" class="input-lg form-control" placeholder="{{t 'home.carousel.email_placeholder'}}" value={{email}}>
          </div>
          <button class="subscribe btn btn-lg btn-default hidden" {{action "subscribe"}}>
            OK
          </button>
         </div>
      </p>
    </div> 
    <div id="carousel-example-generic" class="hidden-xs hidden-sm visible-md visible-lg carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <h1 class="site-title">{{t "home.carousel.title"}}</h1>
        <div class="item active">
        {{#if controllers.application.consumerMode}}
          <img class="img-responsive" src="assets/img/empowerment.jpg" alt="Autonomisation">
        {{else}}
          <img class="img-responsive" src="assets/img/fraises.jpg" alt="Qualité">
        {{/if}}
          <div class="carousel-caption">
            <h4>
            {{#if controllers.application.consumerMode}}
              {{t "home.carousel.slide_empowerment"}}
            {{else}}
              {{t "home.carousel.slide_quality"}}
            {{/if}}
            </h4>
            <div role="group" aria-label="">
              {{#link-to 'projet' classNames="btn btn-primary"}}{{t "global.more_information"}}{{/link-to}}&nbsp;
              {{#if controllers.application.consumerMode}}
                {{#link-to 'sondage' classNames="btn btn-default"}}{{t "home.carousel.fill_poll"}}{{/link-to}}&nbsp;
              {{/if}}
              <button class="keep-me-posted btn btn-lg btn-info" {{action "displaySubscriptionForm"}}>
                <strong>{{t "home.carousel.keep_me_posted"}}</strong>
              </button>
              <div class="subscribe btn-group hidden">
                <input type="text" class="input-lg form-control" placeholder="{{t 'home.carousel.email_placeholder'}}" value={{email}}>
              </div>
              <button class="subscribe btn btn-lg btn-info hidden" {{action "subscribe"}}>
                OK
              </button>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="img-responsive" src="assets/img/trust.jpg" alt="Transparence">
          <div class="carousel-caption">
            <h4>
            {{#if controllers.application.consumerMode}}
              {{t "home.carousel.slide_trust"}}
            {{else}}
              {{t "home.carousel.slide_agro_trust"}}
            {{/if}}
            </h4>
            <div role="group" aria-label="">
              {{#link-to 'projet' classNames="btn btn-primary"}}{{t "global.more_information"}}{{/link-to}}&nbsp;
              {{#if controllers.application.consumerMode}}
              {{#link-to 'sondage' classNames="btn btn-default"}}{{t "home.carousel.fill_poll"}}{{/link-to}}&nbsp;
              {{/if}}
              <button class="keep-me-posted btn btn-lg btn-info" {{action "displaySubscriptionForm"}}>
                <strong>{{t "home.carousel.keep_me_posted"}}</strong>
              </button>
              <div class="subscribe btn-group hidden">
                <input type="text" class="input-lg form-control" placeholder="{{t 'home.carousel.email_placeholder'}}" value={{email}}>
              </div>
              <button class="subscribe btn btn-lg btn-info hidden" {{action "subscribe"}}>
                OK
              </button>
            </div>
          </div>
        </div>
        <div class="item">
        {{#if controllers.application.consumerMode}}
          <img class="img-responsive" src="assets/img/sustainability.jpg" alt="Sante">
        {{else}}
          <img class="img-responsive" src="assets/img/different.jpg" alt="Difference">
        {{/if}}
          
          <div class="carousel-caption">
            <h4>
            {{#if controllers.application.consumerMode}}
              {{t "home.carousel.slide_sustainability"}}
            {{else}}
              {{t "home.carousel.slide_marketing"}}
            {{/if}}
            </h4>
            <div role="group" aria-label="">
              {{#link-to 'projet' classNames="btn btn-primary"}}{{t "global.more_information"}}{{/link-to}}&nbsp;
              {{#if controllers.application.consumerMode}}
                {{#link-to 'sondage' classNames="btn btn-default"}}{{t "home.carousel.fill_poll"}}{{/link-to}}&nbsp;
              {{/if}}
              <button class="keep-me-posted btn btn-lg btn-info" {{action "displaySubscriptionForm"}}>
                <strong>{{t "home.carousel.keep_me_posted"}}</strong>
              </button>
              <div class="subscribe btn-group hidden">
                <input type="text" class="input-lg form-control" placeholder="{{t 'home.carousel.email_placeholder'}}" value={{email}}>
              </div>
              <button class="subscribe btn btn-lg btn-info hidden" {{action "subscribe"}}>
                OK
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="row little-top-margin">
{{#if controllers.application.consumerMode}}
  <div class="col-lg-2 col-lg-offset-2 col-md-4">
    <img src="assets/img/decision.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.you.title"}}</h3>
    {{t "home.items.you.caption"}}
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img class="center-block" src="assets/img/barcode.png" alt="barcode"/>
    <h3 class="text-center">{{t "home.items.are_looking_for.title"}}</h3>
    {{t "home.items.are_looking_for.caption"}}
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/handshake.png" alt="handshake" class="center-block"/>
    <h3 class="text-center">{{t "home.items.transparency.title"}}</h3>
    {{t "home.items.transparency.caption"}}
  </div>
{{else}}
  <div class="col-lg-2 col-lg-offset-2 col-md-4">
    <img src="assets/img/diningroom.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.agro.you.title"}}</h3>
    {{t "home.items.agro.you.caption"}}
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img class="center-block" src="assets/img/barcode.png" alt="barcode"/>
    <h3 class="text-center">{{t "home.items.agro.are_looking_for.title"}}</h3>
    {{t "home.items.agro.are_looking_for.caption"}}
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/handshake.png" alt="handshake" class="center-block"/>
    <h3 class="text-center">{{t "home.items.agro.transparency.title"}}</h3>
    {{t "home.items.agro.transparency.caption"}}
  </div>
{{/if}}
  
</div>
<div class="row">
  <div class="call-to-action alert {{if controllers.application.consumerMode "alert-primary" "alert-success"}} no-bottom-margin text-center">
    <div class="col-lg-8 col-lg-offset-2 col-md-12">
      <p>
        {{t "home.call_to_action.before"}} <button class='btn btn-xs btn-default' {{action 'callToAction'}}>{{t "home.call_to_action.here"}}</button> {{t "home.call_to_action.after"}}
      </p>
    </div>
    
  </div>
</div>
{{#if controllers.application.consumerMode}}
<div class="row well">
  <div class="col-lg-2 col-lg-offset-2 col-md-4">
    <img src="assets/img/list.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.ingredients.title"}}</h3>
    {{t "home.items.ingredients.caption"}}
    <p class="text-center">{{#link-to 'quoi' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/conference.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.players.title"}}</h3>
    {{t "home.items.players.caption"}}
    <p class="text-center">{{#link-to 'qui' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/world_map.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.origin.title"}}</h3>
    {{t "home.items.origin.caption"}}
    <p class="text-center">{{#link-to 'ou' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-lg-offset-3 col-md-4 col-md-offset-1">
    <img src="assets/img/services.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.fabrication.title"}}</h3>
    {{t "home.items.fabrication.caption"}}
    <p class="text-center">{{#link-to 'comment' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-2 col-md-4 col-md-offset-2">
    <img src="assets/img/price_tag_euro.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.price.title"}}</h3>
    {{t "home.items.price.caption"}}
    <p class="text-center">{{#link-to 'combien' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
</div>
{{else}}
<div class="row well">
  <div class="col-lg-2 col-lg-offset-2 col-md-4">
    <img src="assets/img/list.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.agro.ingredients.title"}}</h3>
    {{t "home.items.agro.ingredients.caption"}}
    <p class="text-center">{{#link-to 'quoi' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/conference.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.agro.players.title"}}</h3>
    {{t "home.items.agro.players.caption"}}
    <p class="text-center">{{#link-to 'qui' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-1 col-md-4">
    <img src="assets/img/world_map.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.agro.origin.title"}}</h3>
    {{t "home.items.agro.origin.caption"}}
    <p class="text-center">{{#link-to 'ou' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-lg-offset-3 col-md-4 col-md-offset-1">
    <img src="assets/img/services.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.agro.fabrication.title"}}</h3>
    {{t "home.items.agro.fabrication.caption"}}
    <p class="text-center">{{#link-to 'comment' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
  <div class="col-lg-2 col-lg-offset-2 col-md-4 col-md-offset-2">
    <img src="assets/img/price_tag_euro.png" alt="Profil" class="center-block">
    <h3 class="text-center">{{t "home.items.agro.price.title"}}</h3>
    {{t "home.items.agro.price.caption"}}
    <p class="text-center">{{#link-to 'combien' classNames="btn btn-default"}}{{t "home.items.example"}}{{/link-to}}</p>
  </div>
</div>
{{/if}}