<div class="row" id="projetDiv">
  <div class="col-md-6 col-md-offset-2">
  	<h2 id="preambule">{{t "project.forewords.title"}}</h2>
  	<p class="text-justify">
  		{{t "project.forewords.content"}}
  	</p>
    
    <h3 id="presentations">{{t "project.forewords.introductions.title"}}</h3>
		<div class="section-with-round-img">
			<div class="thumbnail pull-left">
				<img src="assets/img/pj.jpg" alt="PJ" class="img-circle">
			</div>
			{{t "project.forewords.introductions.content"}}
		</div>
	
		<div class="clearfix"></div>

		<h2 id="le-projet">{{t "project.project.title"}}</h2>
		
		<h3 id="pourquoi-feedes">{{t "project.project.why.title"}}</h3>

		<div class="section-with-round-img">
			<div class="thumbnail pull-right">
				<img src="assets/img/fides_domitien.jpg" alt="Fides" class="img-circle">
				<div class="caption text-center">
 		       		<a href="http://www.fredericweber.com/articl_dieux/article_fides.htm">Pièce Fides</a><br />{{t "global.by"}} Frédéric Weber
		    	</div>
			</div>
			<p class='text-justify'> 
				{{t "project.project.why.content"}}
			</p>
		</div>

		<div class="clearfix"></div>

		<h3 id="constats">{{t "project.project.facts.title"}}</h3>
		<div class="constats">
			<p class="text-justify">{{t "project.project.facts.forewords"}}</p>
			<div class="list-group">
				<div class="list-group-item">
					<img src="assets/img/burger.jpg" alt="burger" class="pull-right img-rounded img-responsive hidden-sm hidden-xs">
					<h4 class="list-group-item-heading">{{t "project.project.facts.photo.title"}}</h4>
					<p class="text-justify list-group-item-text">
						{{t "project.project.facts.photo.comment"}} 
					</p>
					<p class="text-justify list-group-item-text">
						{{t "project.project.facts.photo.conclusion"}} 
					</p>
					<blockquote>
						{{t "project.project.facts.photo.quote"}} 
					</blockquote>
					<div class="clearfix"></div>
				</div>
				
				<div class="list-group-item">
					<img src="assets/img/Alsace_Lait.svg" alt="alsace" class="pull-right img-rounded img-responsive hidden-sm hidden-xs">
					<h4 class="list-group-item-heading">{{t "project.project.facts.brand.title"}}</h4>
					<p class="text-justify list-group-item-text">
						{{t "project.project.facts.brand.comment"}} 
					</p>
					<blockquote>
						{{t "project.project.facts.brand.quote"}} 
					</blockquote>
					<div class="clearfix"></div>
				</div>
				
				<div class="list-group-item">
					<h4 class="list-group-item-heading">{{t "project.project.facts.name.title"}}</h4>
				</div>
				<div class="list-group-item">
					<img src="assets/img/ketchup.jpg" alt="ketchup" class="pull-right img-rounded img-responsive hidden-sm hidden-xs">
					<h4 class="list-group-item-heading">{{t "project.project.facts.ingredients.title"}}</h4>
					<p class="text-justify list-group-item-text">
						{{t "project.project.facts.ingredients.comment"}}
					</p>
					<blockquote>
						{{t "project.project.facts.ingredients.quote"}}
					</blockquote>
					<div class="clearfix"></div>
				</div>
				
				<div class="list-group-item">
					<img src="assets/img/nutrition.jpg" alt="nutrition" class="pull-right img-rounded img-responsive hidden-sm hidden-xs">
					<h4 class="list-group-item-heading">{{t "project.project.facts.nutritional_facts.title"}}</h4>
					<p class="text-justify list-group-item-text">
						{{t "project.project.facts.nutritional_facts.comment"}}
					</p>
					<blockquote>
						{{t "project.project.facts.nutritional_facts.quote"}}
					</blockquote>
					<div class="clearfix"></div>
				</div>
			</div>	
			<p class="text-justify">
				{{t "project.project.facts.conclusion"}}
			</p>
		</div>
		<h3 id="idee">{{t "project.project.idea.title"}}</h3>
		<div class="section-with-round-img">
			<div class="thumbnail pull-left">
				<img src="assets/img/idea.jpg" alt="Idée" class="img-circle">
				<div class="caption text-center">
		       		<a href="https://www.flickr.com/photos/brunkfordbraun/330793963">Idée</a><br />{{t "global.by"}} Joey Gannon
		    	</div>
			</div>
			
			<p class="text-justify">
				{{t "project.project.idea.source"}}
			</p>
			<p class="text-justify">
				{{t "project.project.idea.pitch"}}
			</p>
		</div>
		<div class="clearfix"></div>

		<h3 id="objectif">{{t "project.project.goal.title"}}</h3>
		
		<div class="section-with-round-img">
			<div class="thumbnail pull-right">
				<img src="assets/img/handshake.jpg" alt="Confiance" class="img-circle">
				<div class="caption text-center">
		       		<a href="https://www.flickr.com/photos/dhendrix/6644037141/in/photolist-4uo8TF-6dEniD-6dEndk-4fgaGY-dv2kHu-2vH4Ma-7gUnxA-i6ycVY-b87qLv-bD2bs2-bD2b1X-bD2aFx-bq7e8d-bq7dZS-aEWEGz-f7Juj-97Kfzp-981nQ5-7K4pkQ-bPXFDV-b6iQb2-6DrZqn-a13tem-rbKTgr-5RgyZr-5pR7vK-9H923x-mKLfb2-b6fLQv-b6fGoT-b6fFPx-Ncdt5-b6iSkk-7cRKbD-duVKuF-4EAAZ6-MLdV-csxSEb-pzBJBJ-pi8Gft-pia1qJ-EmHzx-kdK64b-89xksJ-eifnE3-b6eJYg-pi8HnD-pxBfDf-pi9Z9A-piaiL4">Poignée de main</a><br />{{t "global.by"}} dhendrix73
		    	</div>
			</div>
			
			<p class="text-justify">
				{{t "project.project.goal.trust"}}
			</p>
			<p class="text-justify">
				{{t "project.project.goal.empowerment"}}
			</p>
		</div>
		
		<div class="clearfix"></div>

		<h2 id="transparence">{{t "project.transparency.title"}}</h2>
		
		<p class="text-justify">
			{{t "project.transparency.forewords"}}
		</p>

		<h3 id="structure">{{t "project.transparency.structure.title"}}</h3>
		<div class="section-with-round-img">
			<div class="thumbnail pull-left">
				<img src="assets/img/glass.jpg" alt="Transparence" class="img-circle">
				<div class="caption text-center">
		       		<a href="https://www.flickr.com/photos/dinnerseries/14741488518/in/photolist-osDYX9-9ujAcV-aewgs6-6Tp311-jpHra1-ogrk5H-9xtHEc-9yHhtd-9jkkW5-e8fUPx-pDqzbJ-jR8b1-6hqdU-7XpAXp-21xf5X-jV1cY-nJKDkq-4HdMEu-xUdWz-niMrx1-5jbno2-dXnZfV-4Qgf11-6R31bA-4oEvi8-4vpvDE-9jtokE-83qQCD-4sAZnQ-dtxfY6-dMDn8n-i8aXFQ-4an4ZP-pgqfdU-ao2xUe-nuBfrv-yy6yS-egM3in-4sN6MQ-oCoWJz-76iPGD-7dYDNS-BWDU2-6wSCue-5inUcp-6EM4vP-9qAdhJ-oocTjt-afQYJw-8BXoMM">Verre d'eau</a><br />par Didriks
		    	</div>
			</div>
			
			<p class="text-justify">
				{{t "project.transparency.structure.legal"}}
			</p>
			   
			<p class="text-justify">
				{{t "project.transparency.structure.trust.forewords"}}
				<div class="clearfix"></div>			
				<ul>
					<li>{{t "project.transparency.structure.trust.source"}}</li>
					<li>{{t "project.transparency.structure.trust.controls"}}</li>
					<li>{{t "project.transparency.structure.trust.people"}}</li>
					<li>{{t "project.transparency.structure.trust.partners"}}</li>
					<li>{{t "project.transparency.structure.trust.price"}}</li>
					<li>{{t "project.transparency.structure.trust.subsidiaries"}}</li>
					<li>...</li>
				</ul>
			</p>
		</div>

		<h3 id="reassurance">{{t "project.transparency.structure.insurance.title"}}</h3>
		
		<div class="section-with-round-img">
			
			<p class="text-justify">
				<blockquote>
					{{t "project.transparency.structure.insurance.why_believe"}}
				</blockquote>
				<div class="thumbnail pull-right">
					<img src="assets/img/sceau.jpg" alt="Reassurance" class=" img-circle">
					<div class="caption text-center">
			       		<a href="https://www.flickr.com/photos/remimathis/8686131719/in/photolist-MiXyJ-4fsYG-7Z9zm-78yVq1-eeyGkH-83Siif-egRUMW-he9C8n-8TzSG-kuZjc1-bNjxG2-obsh4R-epDkj2-eKmWeY-dTEHiG-5MmDqW-kuZnR5-kuX9M4-n4T51x-guvFhz">Sceau Gramont</a><br />{{t "global.by"}} Rémi Mathis
			    	</div>
				</div>
				{{t "project.transparency.structure.insurance.you_shouldnt"}}
				<ul>
					<li>{{t "project.transparency.structure.insurance.leverages.charter"}}</li>
					<li>{{t "project.transparency.structure.insurance.leverages.partnership"}}</li>
					<li>{{t "project.transparency.structure.insurance.leverages.controls"}}</li>
					<li>{{t "project.transparency.structure.insurance.leverages.reports"}}</li>
					<li>{{t "project.transparency.structure.insurance.leverages.others"}}</li>
				</ul>
				<div class="clearfix"></div>
			</p>
		</div>

		<h3 id="confiance">{{t "project.transparency.structure.restore_trust.title"}}</h3>
		<p class="text-justify">
			<blockquote>
				{{t "project.transparency.structure.restore_trust.why"}}
			</blockquote>
		</p>
		<div class="section-with-round-img">
			<div class="thumbnail pull-left">
				<img src="assets/img/creuser.jpg" alt="Creuser" class="img-circle">
				<div class="caption text-center">
		       	<a href="https://www.flickr.com/photos/bigtallguy/498260191">Dig Here</a><br />{{t "global.by"}} Paul Reynolds
		    	</div>
			</div>
			
			<p class="text-justify">
				{{t "project.transparency.structure.restore_trust.because"}}
			</p>
			<p class="text-justify">
				{{t "project.transparency.structure.restore_trust.big_work"}}
			</p>
			<p class="text-justify">
				{{t "project.transparency.structure.restore_trust.restore_trust"}}
			</p>
			<div class="clearfix"></div>
		</div>

		<h3 id="economique">{{t "project.transparency.structure.business_model.title"}}</h3>
		<div class="section-with-round-img">
			<div class="thumbnail pull-right">
				<img src="assets/img/euro.jpg" alt="Euro" class="img-circle">
				<div class="caption text-center">
		       	<a href="https://www.flickr.com/photos/59937401@N07/5857501289/in/photostream/">10 Euro Note in a plant pot</a><br />{{t "global.by"}} Images Money
		    	</div>
			</div>
		    
			<p class="text-justify">
				{{t "project.transparency.structure.business_model.money"}}
			</p>
			<p class="text-justify">
				{{t "project.transparency.structure.business_model.food_industry"}}
			</p>
			<p class="text-justify">
				{{t "project.transparency.structure.business_model.consumers"}}
			</p>
			<p class="text-justify">
				{{t "project.transparency.structure.business_model.public"}}
			</p>
			<p class="text-justify">
				{{t "project.transparency.structure.business_model.combinations"}}
			</p>
		</div>
  </div>
	<div id="affixDiv" class="col-md-2 affix-nav hidden-xs hidden-sm" >
	    <ul class="nav affix-nav list-group" id="myAffix">
	    	<li class="list-group-item">{{t "project.forewords.title"}}</li>
		  	<li class="list-group-item active"><a {{action "scrollAffix" "#presentations"}} href="#presentations">{{t "project.forewords.introductions.title"}}</a></li>
		  	<li class="list-group-item">{{t "project.project.title"}}</li>
	  	    <li class="list-group-item"><a {{action "scrollAffix" "#pourquoi-feedes"}} href="#pourquoi-feedes">{{t "project.project.why.title"}}</a></li>
	  	    <li class="list-group-item"><a {{action "scrollAffix" "#constats"}} href="#constats">{{t "project.project.facts.title"}}</a></li>
	  	    <li class="list-group-item"><a {{action "scrollAffix" "#idee"}} href="#idee">{{t "project.project.idea.title"}}</a></li>
	  	    <li class="list-group-item"><a {{action "scrollAffix" "#objectif"}} href="#objectif">{{t "project.project.goal.title"}}</a></li>
		  	<li class="list-group-item">{{t "project.transparency.title"}}</li>
	  	    <li class="list-group-item"><a {{action "scrollAffix" "#structure"}} href="#structure">{{t "project.transparency.structure.title"}}</a></li>
	  	    <li class="list-group-item"><a {{action "scrollAffix" "#reassurance"}} href="#reassurance">{{t "project.transparency.structure.insurance.title"}}</a></li>
	  	    <li class="list-group-item"><a {{action "scrollAffix" "#confiance"}} href="#confiance">{{t "project.transparency.structure.restore_trust.title"}}</a></li>
	  	    <li class="list-group-item"><a {{action "scrollAffix" "#economique"}} href="#economique">{{t "project.transparency.structure.business_model.title"}}</a></li>
		</ul>	            
	</div>
</div>
